In [4]:

#必要ライブラリの読み込み
import pandas as pd
import sklearn

#データの読み込み
df0 = pd.read_csv("People.csv")
#People.csv野球プレイヤーの記録、特に誕生日とかそういうの、MLBのマネージャー、および野球殿堂の人たち(ニグロリーグの人とか)
#playerID  birthYear  birthMonth  birthDay birthCountry birthState birthCity
#deathYear  deathMonth  deathDay nameLast nameGiven weight height bats throws debut
#の項目がある

print(df0)

#birthState birthCityは生まれた州と都市、bats throwsは投打の右左(RL)、debutはメジャーデビュー日

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aaronha01     1934.0         2.0       5.0          USA         AL
2      aaronto01     1939.0         8.0       5.0          USA         AL
3       aasedo01     1954.0         9.0       8.0          USA         CA
4       abadan01     1972.0         8.0      25.0          USA         FL
5       abadfe01     1985.0        12.0      17.0         D.R.  La Romana
6      abadijo01     1850.0        11.0       4.0          USA         PA
7      abbated01     1877.0         4.0      15.0          USA         PA
8      abbeybe01     1869.0        11.0      11.0          USA         VT
9      abbeych01     1866.0        10.0      14.0          USA         NE
10     abbotda01     1862.0         3.0      16.0          USA         OH
11     abbotfr01     1874.0        10.0      22.0          USA         OH
12     abbotgl01     1951.0         2.0      16.0          USA         AR
13     abbotje01     1972.0         8.0      17.0          USA         GA
14     abbotji01     1967.0         9.0      19.0          USA         MI
15     abbotku01     1969.0         6.0       2.0          USA         OH
16     abbotky01     1968.0         2.0      18.0          USA         MA
17     abbotod01     1886.0         9.0       5.0          USA         PA
18     abbotpa01     1967.0         9.0      15.0          USA         CA
19      aberal01     1927.0         7.0      31.0          USA         OH
20     abercda01     1850.0         1.0       2.0          USA         OK
21     abercre01     1980.0         7.0      15.0          USA         GA
22     abernbi01     1929.0         1.0      30.0          USA         CA
23     abernbr01     1977.0         9.0      23.0          USA         GA
24     abernte01     1921.0        10.0      30.0          USA         NC
25     abernte02     1933.0         3.0       6.0          USA         NC
26     abernwo01     1915.0         2.0       1.0          USA         NC
27     aberscl01     1921.0         8.0      28.0          USA         IL
28     ablesha01     1883.0        10.0       4.0          USA         TX
29     abnersh01     1966.0         6.0      17.0          USA         OH
...          ...        ...         ...       ...          ...        ...
19340  zimmejo02     1986.0         5.0      23.0          USA         WI
19341  zimmero01     1913.0         9.0      13.0          USA         PA
19342  zimmery01     1984.0         9.0      28.0          USA         NC
19343   zinkch01     1979.0         8.0      26.0          USA         CA
19344   zinkwa01     1898.0        11.0      21.0          USA         MA
19345   zinnfr01     1865.0        12.0      21.0          USA         PA
19346   zinngu01     1887.0         2.0      13.0          USA         WV
19347   zinnji01     1895.0         1.0      31.0          USA         AR
19348  zinsebi01     1918.0         1.0       6.0          USA         NY
19349  zinteal01     1968.0         5.0      19.0          USA         TX
19350  zipfebu01     1938.0        11.0      18.0          USA         IL
19351   ziskri01     1949.0         2.0       6.0          USA         NY
19352   zitoba01     1978.0         5.0      13.0          USA         NV
19353  zitzmbi01     1895.0        11.0      19.0          USA         NY
19354  zmiched01     1884.0        10.0       1.0          USA         OH
19355  zobribe01     1981.0         5.0      26.0          USA         IL
19356  zoccope01     1977.0         2.0       6.0          USA         NY
19357  zoldasa01     1918.0        12.0       8.0          USA         NY
19358  zoskyed01     1968.0         2.0      10.0          USA         CA
19359  zuberbi01     1913.0         3.0      26.0          USA         IA
19360  zuberjo01     1969.0        12.0      10.0          USA         CA
19361  zuletju01     1975.0         3.0      28.0       Panama     Panama
19362  zumayjo01     1984.0        11.0       9.0          USA         CA
19363  zuninmi01     1991.0         3.0      25.0          USA         FL
19364  zupcibo01     1966.0         8.0      18.0          USA         PA
19365   zupofr01     1939.0         8.0      29.0          USA         CA
19366  zuvelpa01     1958.0        10.0      31.0          USA         CA
19367  zuverge01     1924.0         8.0      20.0          USA         MI
19368  zwilldu01     1888.0        11.0       2.0          USA         MO
19369   zychto01     1990.0         8.0       7.0          USA         IL

              birthCity  deathYear  deathMonth  deathDay    ...      \
0                Denver        NaN         NaN       NaN    ...
1                Mobile        NaN         NaN       NaN    ...
2                Mobile     1984.0         8.0      16.0    ...
3                Orange        NaN         NaN       NaN    ...
4            Palm Beach        NaN         NaN       NaN    ...
5             La Romana        NaN         NaN       NaN    ...
6          Philadelphia     1905.0         5.0      17.0    ...
7               Latrobe     1957.0         1.0       6.0    ...
8                 Essex     1962.0         6.0      11.0    ...
9            Falls City     1926.0         4.0      27.0    ...
10              Portage     1930.0         2.0      13.0    ...
11           Versailles     1935.0         6.0      11.0    ...
12          Little Rock        NaN         NaN       NaN    ...
13              Atlanta        NaN         NaN       NaN    ...
14                Flint        NaN         NaN       NaN    ...
15           Zanesville        NaN         NaN       NaN    ...
16          Newburyport        NaN         NaN       NaN    ...
17            New Eagle     1933.0         4.0      13.0    ...
18             Van Nuys        NaN         NaN       NaN    ...
19            Cleveland     1993.0         5.0      20.0    ...
20          Fort Towson     1939.0        11.0      11.0    ...
21             Columbus        NaN         NaN       NaN    ...
22             Torrance     2006.0         2.0      19.0    ...
23              Atlanta        NaN         NaN       NaN    ...
24                Bynum     2001.0        11.0      16.0    ...
25              Stanley     2004.0        12.0      16.0    ...
26          Forest City     1994.0        12.0       5.0    ...
27              Chicago     1973.0         6.0      23.0    ...
28              Terrell     1951.0         2.0       8.0    ...
29             Hamilton        NaN         NaN       NaN    ...
...                 ...        ...         ...       ...    ...
19340        Auburndale        NaN         NaN       NaN    ...
19341        Pine Grove     1991.0        11.0      22.0    ...
19342        Washington        NaN         NaN       NaN    ...
19343        Carmichael        NaN         NaN       NaN    ...
19344        Pittsfield     1964.0         6.0      12.0    ...
19345      Phoenixville     1936.0         5.0      12.0    ...
19346          Holbrook     1949.0        10.0       6.0    ...
19347            Benton     1991.0         2.0      26.0    ...
19348           Astoria     1993.0         2.0      16.0    ...
19349           El Paso        NaN         NaN       NaN    ...
19350        Belleville        NaN         NaN       NaN    ...
19351          Brooklyn        NaN         NaN       NaN    ...
19352         Las Vegas        NaN         NaN       NaN    ...
19353  Long Island City     1985.0         5.0      29.0    ...
19354         Cleveland     1950.0         8.0      20.0    ...
19355            Eureka        NaN         NaN       NaN    ...
19356             Bronx        NaN         NaN       NaN    ...
19357          Brooklyn     1966.0         8.0      25.0    ...
19358          Whittier        NaN         NaN       NaN    ...
19359      Middle Amana     1982.0        11.0       2.0    ...
19360            Encino        NaN         NaN       NaN    ...
19361            Panama        NaN         NaN       NaN    ...
19362       Chula Vista        NaN         NaN       NaN    ...
19363        Cape Coral        NaN         NaN       NaN    ...
19364        Pittsburgh        NaN         NaN       NaN    ...
19365     San Francisco     2005.0         3.0      25.0    ...
19366         San Mateo        NaN         NaN       NaN    ...
19367           Holland     2014.0         9.0       8.0    ...
19368         St. Louis     1978.0         3.0      27.0    ...
19369             Monee        NaN         NaN       NaN    ...

          nameLast           nameGiven weight height bats throws       debut  \
0          Aardsma         David Allan  215.0   75.0    R      R  2004-04-06
1            Aaron         Henry Louis  180.0   72.0    R      R  1954-04-13
2            Aaron          Tommie Lee  190.0   75.0    R      R  1962-04-10
3             Aase      Donald William  190.0   75.0    R      R  1977-07-26
4             Abad       Fausto Andres  184.0   73.0    L      L  2001-09-10
5             Abad    Fernando Antonio  220.0   73.0    L      L  2010-07-28
6           Abadie             John W.  192.0   72.0    R      R  1875-04-26
7      Abbaticchio        Edward James  170.0   71.0    R      R  1897-09-04
8            Abbey           Bert Wood  175.0   71.0    R      R  1892-06-14
9            Abbey          Charles S.  169.0   68.0    L      L  1893-08-16
10          Abbott    Leander Franklin  190.0   71.0    R      R  1890-04-19
11          Abbott     Harry Frederick  180.0   70.0    R      R  1903-04-25
12          Abbott       William Glenn  200.0   78.0    R      R  1973-07-29
13          Abbott     Jeffrey William  190.0   74.0    R      L  1997-06-10
14          Abbott       James Anthony  200.0   75.0    L      L  1989-04-08
15          Abbott         Kurt Thomas  180.0   71.0    R      R  1993-09-07
16          Abbott       Lawrence Kyle  200.0   76.0    L      L  1991-09-10
17          Abbott           Ody Cleon  165.0   69.0    L      R  1910-09-10
18          Abbott          Paul David  185.0   75.0    R      R  1990-08-21
19            Aber       Albert Julius  195.0   74.0    L      L  1950-09-15
20     Abercrombie   Francis Patterson    NaN    NaN  NaN    NaN  1871-10-21
21     Abercrombie   Reginald Damascus  215.0   75.0    R      R  2006-04-04
22      Abernathie      William Edward  190.0   70.0    R      R  1952-09-27
23       Abernathy       Michael Brent  185.0   73.0    R      R  2001-06-25
24       Abernathy  Talmadge Lafayette  210.0   74.0    R      L  1942-09-19
25       Abernathy       Theodore Wade  215.0   76.0    R      R  1955-04-13
26       Abernathy      Virgil Woodrow  170.0   72.0    L      L  1946-07-28
27         Aberson  Clifford Alexander  200.0   72.0    R      R  1947-07-18
28           Ables       Harry Terrell  200.0   74.0    R      L  1905-09-04
29           Abner        Shawn Wesley  190.0   73.0    R      R  1987-09-08
...            ...                 ...    ...    ...  ...    ...         ...
19340   Zimmermann           Jordan M.  225.0   74.0    R      R  2009-04-20
19341    Zimmerman        Roy Franklin  187.0   74.0    L      L  1945-08-27
19342    Zimmerman        Ryan Wallace  225.0   75.0    R      R  2005-09-01
19343         Zink       Charles Tadao  190.0   73.0    R      R  2008-08-12
19344         Zink        Walter Noble  165.0   72.0    R      R  1921-07-06
19345         Zinn       Frank Patrick  150.0   68.0  NaN    NaN  1888-04-18
19346         Zinn                 Guy  170.0   70.0    L      R  1911-09-11
19347         Zinn        James Edward  195.0   72.0    L      R  1919-09-04
19348       Zinser     William Francis  185.0   73.0    R      R  1944-08-19
19349       Zinter        Alan Michael  200.0   74.0    B      R  2002-06-18
19350       Zipfel    Marion Sylvester  200.0   75.0    L      R  1961-07-26
19351         Zisk      Richard Walter  200.0   73.0    R      R  1971-09-08
19352         Zito       Barry William  205.0   74.0    L      L  2000-07-22
19353     Zitzmann      William Arthur  175.0   70.0    R      R  1919-04-27
19354        Zmich       Edward Albert  180.0   72.0    L      L  1910-07-23
19355      Zobrist     Benjamin Thomas  210.0   75.0    B      R  2006-08-01
19356   Zoccolillo          Peter Jude  200.0   74.0    L      R  2003-09-05
19357       Zoldak       Samuel Walter  185.0   71.0    L      L  1944-05-13
19358        Zosky        Edward James  175.0   72.0    R      R  1991-09-02
19359        Zuber       William Henry  195.0   74.0    R      R  1936-09-16
19360        Zuber          Jon Edward  190.0   73.0    L      L  1996-04-19
19361       Zuleta       Julio Ernesto  230.0   78.0    R      R  2000-04-06
19362       Zumaya         Joel Martin  215.0   75.0    R      R  2006-04-03
19363       Zunino     Michael Accorsi  220.0   74.0    R      R  2013-06-12
19364       Zupcic              Robert  220.0   76.0    R      R  1991-09-07
19365         Zupo        Frank Joseph  182.0   71.0    L      R  1957-07-01
19366      Zuvella                Paul  173.0   72.0    R      R  1982-09-04
19367     Zuverink              George  195.0   76.0    R      R  1951-04-21
19368     Zwilling     Edward Harrison  160.0   66.0    L      L  1910-08-14
19369         Zych       Anthony Aaron  190.0   75.0    R      R  2015-09-04

        finalGame   retroID    bbrefID
0      2015-08-23  aardd001  aardsda01
1      1976-10-03  aaroh101  aaronha01
2      1971-09-26  aarot101  aaronto01
3      1990-10-03  aased001   aasedo01
4      2006-04-13  abada001   abadan01
5      2017-10-01  abadf001   abadfe01
6      1875-06-10  abadj101  abadijo01
7      1910-09-15  abbae101  abbated01
8      1896-09-23  abbeb101  abbeybe01
9      1897-08-19  abbec101  abbeych01
10     1890-05-23  abbod101  abbotda01
11     1905-09-20  abbof101  abbotfr01
12     1984-08-08  abbog001  abbotgl01
13     2001-09-29  abboj002  abbotje01
14     1999-07-21  abboj001  abbotji01
15     2001-04-13  abbok002  abbotku01
16     1996-08-24  abbok001  abbotky01
17     1910-10-15  abboo101  abbotod01
18     2004-08-07  abbop001  abbotpa01
19     1957-09-11  abera101   aberal01
20     1871-10-21  aberd101  abercda01
21     2008-09-28  aberr001  abercre01
22     1952-09-27  aberb101  abernbi01
23     2005-09-29  aberb001  abernbr01
24     1944-04-29  abert102  abernte01
25     1972-09-30  abert101  abernte02
26     1947-04-17  aberw101  abernwo01
27     1949-05-09  aberc101  aberscl01
28     1911-05-05  ableh101  ablesha01
29     1992-10-03  abnes001  abnersh01
...           ...       ...        ...
19340  2017-09-27  zimmj003  zimmejo02
19341  1945-09-30  zimmr101  zimmero01
19342  2017-10-01  zimmr001  zimmery01
19343  2008-08-12  zinkc001   zinkch01
19344  1921-07-19  zinkw101   zinkwa01
19345  1888-05-03  zinnf101   zinnfr01
19346  1915-09-16  zinng101   zinngu01
19347  1929-08-25  zinnj101   zinnji01
19348  1944-08-26  zinsb101  zinsebi01
19349  2004-10-03  zinta001  zinteal01
19350  1962-09-30  zipfb101  zipfebu01
19351  1983-09-21  ziskr101   ziskri01
19352  2015-09-30  zitob001   zitoba01
19353  1929-09-25  zitzb101  zitzmbi01
19354  1911-06-01  zmice101  zmiched01
19355  2017-10-01  zobrb001  zobribe01
19356  2003-09-28  zoccp001  zoccope01
19357  1952-08-26  zolds101  zoldasa01
19358  2000-10-01  zoske001  zoskyed01
19359  1947-09-23  zubeb101  zuberbi01
19360  1998-09-27  zubej001  zuberjo01
19361  2001-06-25  zulej001  zuletju01
19362  2010-06-28  zumaj001  zumayjo01
19363  2017-09-29  zunim001  zuninmi01
19364  1994-08-04  zupcb001  zupcibo01
19365  1961-05-09  zupof101   zupofr01
19366  1991-05-02  zuvep001  zuvelpa01
19367  1959-06-15  zuveg101  zuverge01
19368  1916-07-12  zwild101  zwilldu01
19369  2017-08-19  zycht001   zychto01

[19370 rows x 24 columns]

In [5]:
#必要ライブラリの読み込み
import pandas as pd
import sklearn

#データの読み込み
df = pd.read_csv("Batting.csv")
#Batting.csvは、シーズンごとのプレイヤーの記録

print(df)


#playerID    104324 non-null object
#yearID      104324 non-null int64
#stint       104324 non-null int64　1シーズンで何チーム目か
#teamID      104324 non-null object　チーム(略称)
#lgID        103586 non-null object　リーグ
#G           104324 non-null int64　出場数
#AB          104324 non-null int64　打数
#R           104324 non-null int64　得点
#H           104324 non-null int64　安打数
#2B          104324 non-null int64　二塁打数
#3B          104324 non-null int64　三塁打数
#HR          104324 non-null int64　ホームラン数
#RBI         103568 non-null float64　打点
#SB          101956 non-null float64　盗塁数
#CS          80832 non-null float64　盗塁死数
#BB          104324 non-null int64　死球数
#SO          97974 non-null float64　三振数
#IBB         67722 non-null float64　敬遠数
#HBP         101507 non-null float64　死球数
#SH          98255 non-null float64　犠打数
#SF          68259 non-null float64　犠飛数
#GIDP        78921 non-null float64　併殺打数

         playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...   \
0       abercda01    1871      1    TRO  NaN    1    4    0    0   0  ...
1        addybo01    1871      1    RC1  NaN   25  118   30   32   6  ...
2       allisar01    1871      1    CL1  NaN   29  137   28   40   4  ...
3       allisdo01    1871      1    WS3  NaN   27  133   28   44  10  ...
4       ansonca01    1871      1    RC1  NaN   25  120   29   39  11  ...
5       armstbo01    1871      1    FW1  NaN   12   49    9   11   2  ...
6       barkeal01    1871      1    RC1  NaN    1    4    0    1   0  ...
7       barnero01    1871      1    BS1  NaN   31  157   66   63  10  ...
8       barrebi01    1871      1    FW1  NaN    1    5    1    1   1  ...
9       barrofr01    1871      1    BS1  NaN   18   86   13   13   2  ...
10       bassjo01    1871      1    CL1  NaN   22   89   18   27   1  ...
11      battijo01    1871      1    CL1  NaN    1    3    0    0   0  ...
12      bealsto01    1871      1    WS3  NaN   10   36    6    7   0  ...
13      beaveed01    1871      1    TRO  NaN    3   15    7    6   0  ...
14      bechtge01    1871      1    PH1  NaN   20   94   24   33   9  ...
15      bellast01    1871      1    TRO  NaN   29  128   26   32   3  ...
16      berkena01    1871      1    PH1  NaN    1    4    0    0   0  ...
17      berryto01    1871      1    PH1  NaN    1    4    0    1   0  ...
18      berthha01    1871      1    WS3  NaN   17   73   17   17   1  ...
19      biermch01    1871      1    FW1  NaN    1    2    0    0   0  ...
20       birdge01    1871      1    RC1  NaN   25  106   19   28   2  ...
21      birdsda01    1871      1    BS1  NaN   29  152   51   46   3  ...
22      brainas01    1871      1    WS3  NaN   30  134   24   30   4  ...
23      brannmi01    1871      1    CH1  NaN    3   14    2    1   0  ...
24      burrohe01    1871      1    WS3  NaN   12   63   11   15   2  ...
25      careyto01    1871      1    FW1  NaN   19   87   16   20   2  ...
26      carleji01    1871      1    CL1  NaN   29  127   31   32   8  ...
27       conefr01    1871      1    BS1  NaN   19   77   17   20   3  ...
28      connone01    1871      1    TRO  NaN    7   33    6    7   0  ...
29      cravebi01    1871      1    TRO  NaN   27  118   26   38   8  ...
...           ...     ...    ...    ...  ...  ...  ...  ...  ...  ..  ...
104294   woodal02    2017      1    LAN   NL   27   52    1    3   0  ...
104295   woodbl01    2017      1    CIN   NL   55    1    0    0   0  ...
104296   woodbl01    2017      2    LAA   AL   17    0    0    0   0  ...
104297   woodhu01    2017      1    TBA   AL    1    0    0    0   0  ...
104298  woodrbr01    2017      1    MIL   NL    8   10    2    2   0  ...
104299   woodtr01    2017      1    KCA   AL   28    1    0    0   0  ...
104300   woodtr01    2017      2    SDN   NL   12   17    3    4   0  ...
104301  workmbr01    2017      1    BOS   AL   33    0    0    0   0  ...
104302  worleva01    2017      1    MIA   NL   26   22    0    4   0  ...
104303  wrighda04    2017      1    LAA   AL    5    0    0    0   0  ...
104304  wrighmi01    2017      1    BAL   AL   13    0    0    0   0  ...
104305  wrighst01    2017      1    BOS   AL    5    0    0    0   0  ...
104306  yacabji01    2017      1    BAL   AL   14    2    0    0   0  ...
104307  yateski01    2017      1    LAA   AL    1    0    0    0   0  ...
104308  yateski01    2017      2    SDN   NL   61    0    0    0   0  ...
104309  yelicch01    2017      1    MIA   NL  156  602  100  170  36  ...
104310   ynoaga01    2017      1    BAL   AL    9    1    0    0   0  ...
104311   ynoami01    2017      1    CHA   AL   22    0    0    0   0  ...
104312  youngch03    2017      1    KCA   AL   14    0    0    0   0  ...
104313  youngch04    2017      1    BOS   AL   90  243   30   57  12  ...
104314  younger03    2017      1    LAA   AL   47  110   24   29   5  ...
104315  zagunma01    2017      1    CHN   NL    7   14    0    0   0  ...
104316  zastrro01    2017      1    CHN   NL    4    3    0    1   0  ...
104317  zieglbr01    2017      1    MIA   NL   53    0    0    0   0  ...
104318  zimmebr01    2017      1    CLE   AL  101  299   41   72  15  ...
104319  zimmejo02    2017      1    DET   AL   29    6    0    1   0  ...
104320  zimmery01    2017      1    WAS   NL  144  524   90  159  33  ...
104321  zobribe01    2017      1    CHN   NL  128  435   58  101  20  ...
104322  zuninmi01    2017      1    SEA   AL  124  387   52   97  25  ...
104323   zychto01    2017      1    SEA   AL   45    0    0    0   0  ...

          RBI    SB   CS  BB     SO  IBB  HBP   SH   SF  GIDP
0         0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
1        13.0   8.0  1.0   4    0.0  NaN  NaN  NaN  NaN   0.0
2        19.0   3.0  1.0   2    5.0  NaN  NaN  NaN  NaN   1.0
3        27.0   1.0  1.0   0    2.0  NaN  NaN  NaN  NaN   0.0
4        16.0   6.0  2.0   2    1.0  NaN  NaN  NaN  NaN   0.0
5         5.0   0.0  1.0   0    1.0  NaN  NaN  NaN  NaN   0.0
6         2.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN   0.0
7        34.0  11.0  6.0  13    1.0  NaN  NaN  NaN  NaN   1.0
8         1.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
9        11.0   1.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
10       18.0   0.0  1.0   3    4.0  NaN  NaN  NaN  NaN   0.0
11        0.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN   0.0
12        1.0   2.0  0.0   2    0.0  NaN  NaN  NaN  NaN   2.0
13        5.0   2.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
14       21.0   4.0  0.0   2    2.0  NaN  NaN  NaN  NaN   1.0
15       23.0   4.0  4.0   9    2.0  NaN  NaN  NaN  NaN   2.0
16        0.0   0.0  0.0   0    3.0  NaN  NaN  NaN  NaN   0.0
17        0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
18        8.0   3.0  1.0   4    2.0  NaN  NaN  NaN  NaN   0.0
19        0.0   0.0  0.0   1    0.0  NaN  NaN  NaN  NaN   0.0
20       13.0   1.0  0.0   3    2.0  NaN  NaN  NaN  NaN   3.0
21       24.0   6.0  0.0   4    4.0  NaN  NaN  NaN  NaN   1.0
22       21.0   4.0  0.0   7    2.0  NaN  NaN  NaN  NaN   1.0
23        0.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
24       14.0   0.0  0.0   1    1.0  NaN  NaN  NaN  NaN   0.0
25       10.0   5.0  0.0   2    1.0  NaN  NaN  NaN  NaN   0.0
26       18.0   2.0  1.0   8    3.0  NaN  NaN  NaN  NaN   3.0
27       16.0  12.0  1.0   8    2.0  NaN  NaN  NaN  NaN   1.0
28        2.0   0.0  0.0   0    0.0  NaN  NaN  NaN  NaN   0.0
29       26.0   6.0  3.0   3    0.0  NaN  NaN  NaN  NaN   3.0
...       ...   ...  ...  ..    ...  ...  ...  ...  ...   ...
104294    4.0   0.0  0.0   2   29.0  0.0  0.0  4.0  0.0   1.0
104295    0.0   0.0  0.0   0    1.0  0.0  0.0  0.0  0.0   0.0
104296    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104297    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104298    0.0   0.0  0.0   1    2.0  0.0  0.0  1.0  0.0   0.0
104299    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   1.0
104300    6.0   0.0  0.0   0    7.0  0.0  0.0  0.0  0.0   0.0
104301    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104302    3.0   0.0  0.0   0    8.0  0.0  0.0  5.0  0.0   1.0
104303    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104304    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104305    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104306    1.0   0.0  0.0   0    1.0  0.0  0.0  0.0  0.0   0.0
104307    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104308    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104309   81.0  16.0  2.0  80  137.0  4.0  6.0  0.0  6.0  13.0
104310    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104311    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104312    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104313   25.0   3.0  2.0  30   55.0  0.0  2.0  0.0  1.0   4.0
104314   16.0  12.0  3.0   5   31.0  0.0  7.0  3.0  0.0   0.0
104315    1.0   2.0  0.0   4    6.0  0.0  0.0  0.0  0.0   0.0
104316    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104317    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0
104318   39.0  18.0  1.0  26   99.0  1.0  4.0  0.0  3.0   5.0
104319    0.0   0.0  0.0   0    1.0  0.0  0.0  0.0  0.0   0.0
104320  108.0   1.0  0.0  44  126.0  1.0  3.0  0.0  5.0  16.0
104321   50.0   2.0  2.0  54   71.0  2.0  2.0  2.0  3.0  13.0
104322   64.0   1.0  0.0  39  160.0  0.0  8.0  0.0  1.0   8.0
104323    0.0   0.0  0.0   0    0.0  0.0  0.0  0.0  0.0   0.0

[104324 rows x 22 columns]

In [7]:
#データの読み込み
df_pitch = pd.read_csv("Pitching.csv")
#Batting.csvは、シーズンごとのプレイヤーの記録

print(df_pitch.info())
#playerID    45806 non-null object 
#yearID      45806 non-null int64
#stint       45806 non-null int64
#teamID      45806 non-null object
#lgID        45674 non-null object
#W           45806 non-null int64 勝ち星
#L           45806 non-null int64 負け数
#G           45806 non-null int64 登板数
#GS          45806 non-null int64 先発出場数
#CG          45806 non-null int64 完投数
#SHO         45806 non-null int64 完封数
#SV          45806 non-null int64 セーブ数
#IPouts      45806 non-null int64 投球回数
#H           45806 non-null int64 被安打
#ER          45806 non-null int64 自責点
#HR          45806 non-null int64 被本塁打
#BB          45806 non-null int64 与四球数
#SO          45806 non-null int64 奪三振数
#BAOpp       43089 non-null float64 被打率
#ERA         45716 non-null float64 防御率
#IBB         31228 non-null float64 敬遠数
#WP          45806 non-null int64 暴投数
#HBP         45072 non-null float64 死球数
#BK          45806 non-null int64 ボーク数
#BFP         45800 non-null float64 対戦打者数
#GF          45806 non-null int64 ゲームの最終投手
#R           45806 non-null int64 失点
#SH          26619 non-null float64 被犠打数
#SF          26619 non-null float64 被犠飛数
#GIDP        25482 non-null float64 併殺

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45806 entries, 0 to 45805
Data columns (total 30 columns):
playerID    45806 non-null object
yearID      45806 non-null int64
stint       45806 non-null int64
teamID      45806 non-null object
lgID        45674 non-null object
W           45806 non-null int64
L           45806 non-null int64
G           45806 non-null int64
GS          45806 non-null int64
CG          45806 non-null int64
SHO         45806 non-null int64
SV          45806 non-null int64
IPouts      45806 non-null int64
H           45806 non-null int64
ER          45806 non-null int64
HR          45806 non-null int64
BB          45806 non-null int64
SO          45806 non-null int64
BAOpp       43089 non-null float64
ERA         45716 non-null float64
IBB         31228 non-null float64
WP          45806 non-null int64
HBP         45072 non-null float64
BK          45806 non-null int64
BFP         45800 non-null float64
GF          45806 non-null int64
R           45806 non-null int64
SH          26619 non-null float64
SF          26619 non-null float64
GIDP        25482 non-null float64
dtypes: float64(8), int64(19), object(3)
memory usage: 10.5+ MB
None

In [8]:
print(df_pitch.head())

    playerID  yearID  stint teamID lgID   W   L   G  GS  CG  ...   IBB  WP  \
0  bechtge01    1871      1    PH1  NaN   1   2   3   3   2  ...   NaN   7
1  brainas01    1871      1    WS3  NaN  12  15  30  30  30  ...   NaN   7
2  fergubo01    1871      1    NY2  NaN   0   0   1   0   0  ...   NaN   2
3  fishech01    1871      1    RC1  NaN   4  16  24  24  22  ...   NaN  20
4  fleetfr01    1871      1    NY2  NaN   0   1   1   1   1  ...   NaN   0

   HBP  BK     BFP  GF    R  SH  SF  GIDP
0  NaN   0   146.0   0   42 NaN NaN   NaN
1  NaN   0  1291.0   0  292 NaN NaN   NaN
2  NaN   0    14.0   0    9 NaN NaN   NaN
3  NaN   0  1080.0   1  257 NaN NaN   NaN
4  NaN   0    57.0   0   21 NaN NaN   NaN

[5 rows x 30 columns]

In [11]:
#1列の場合
print(df_pitch.SH) #列名がSHの列を抽出
#print(df["home_team"]) #列名がhome_teamの列を抽出
print(df_pitch["SH"].max()) #SH(被犠打)の最多

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
45776    0.0
45777    0.0
45778    0.0
45779    0.0
45780    1.0
45781    2.0
45782    0.0
45783    5.0
45784    4.0
45785    0.0
45786    0.0
45787    0.0
45788    1.0
45789    0.0
45790    4.0
45791    2.0
45792    2.0
45793    1.0
45794    0.0
45795    0.0
45796    0.0
45797    0.0
45798    0.0
45799    1.0
45800    0.0
45801    0.0
45802    0.0
45803    3.0
45804    3.0
45805    1.0
Name: SH, Length: 45806, dtype: float64
27.0

In [3]:
#最初の5行だけ表示
print(df.head())

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  ...    RBI   SB  \
0  abercda01    1871      1    TRO  NaN   1    4   0   0   0  ...    0.0  0.0
1   addybo01    1871      1    RC1  NaN  25  118  30  32   6  ...   13.0  8.0
2  allisar01    1871      1    CL1  NaN  29  137  28  40   4  ...   19.0  3.0
3  allisdo01    1871      1    WS3  NaN  27  133  28  44  10  ...   27.0  1.0
4  ansonca01    1871      1    RC1  NaN  25  120  29  39  11  ...   16.0  6.0

    CS  BB   SO  IBB  HBP  SH  SF  GIDP
0  0.0   0  0.0  NaN  NaN NaN NaN   0.0
1  1.0   4  0.0  NaN  NaN NaN NaN   0.0
2  1.0   2  5.0  NaN  NaN NaN NaN   1.0
3  1.0   0  2.0  NaN  NaN NaN NaN   0.0
4  2.0   2  1.0  NaN  NaN NaN NaN   0.0

[5 rows x 22 columns]

In [4]:
#データの情報を表示
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104324 entries, 0 to 104323
Data columns (total 22 columns):
playerID    104324 non-null object
yearID      104324 non-null int64
stint       104324 non-null int64
teamID      104324 non-null object
lgID        103586 non-null object
G           104324 non-null int64
AB          104324 non-null int64
R           104324 non-null int64
H           104324 non-null int64
2B          104324 non-null int64
3B          104324 non-null int64
HR          104324 non-null int64
RBI         103568 non-null float64
SB          101956 non-null float64
CS          80832 non-null float64
BB          104324 non-null int64
SO          97974 non-null float64
IBB         67722 non-null float64
HBP         101507 non-null float64
SH          98255 non-null float64
SF          68259 non-null float64
GIDP        78921 non-null float64
dtypes: float64(9), int64(10), object(3)
memory usage: 17.5+ MB
None

In [5]:
#データの形を確認
print(df.shape)
print(df.shape[0])

#列名の表示
print(df.columns)

#行名の表示
print(df.index)

#データの縦の長さをチェック（行数）
print(len(df))

(104324, 22)
104324
Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')
RangeIndex(start=0, stop=104324, step=1)
104324

In [6]:
#1列の場合
print(df.teamID) #列名がteamIDの列を抽出
#print(df["home_team"]) #列名がhome_teamの列を抽出

0         TRO
1         RC1
2         CL1
3         WS3
4         RC1
5         FW1
6         RC1
7         BS1
8         FW1
9         BS1
10        CL1
11        CL1
12        WS3
13        TRO
14        PH1
15        TRO
16        PH1
17        PH1
18        WS3
19        FW1
20        RC1
21        BS1
22        WS3
23        CH1
24        WS3
25        FW1
26        CL1
27        BS1
28        TRO
29        TRO
         ...
104294    LAN
104295    CIN
104296    LAA
104297    TBA
104298    MIL
104299    KCA
104300    SDN
104301    BOS
104302    MIA
104303    LAA
104304    BAL
104305    BOS
104306    BAL
104307    LAA
104308    SDN
104309    MIA
104310    BAL
104311    CHA
104312    KCA
104313    BOS
104314    LAA
104315    CHN
104316    CHN
104317    MIA
104318    CLE
104319    DET
104320    WAS
104321    CHN
104322    SEA
104323    SEA
Name: teamID, Length: 104324, dtype: object

In [7]:
#最大値
print(df[["RBI","R"]].max())

#最小値
print(df[["H","2B"]].min())

#平均値
print(df[["RBI","R"]].mean())

#標準偏差
print(df[["RBI","R"]].std())

RBI    191.0
R      198.0
dtype: float64
H     0
2B    0
dtype: int64
RBI    17.020933
R      18.762097
dtype: float64
RBI    26.372253
R      28.221955
dtype: float64

In [8]:
#ユニークな要素の数
df.nunique()

playerID    19182
yearID        147
stint           5
teamID        149
lgID            6
G             165
AB            699
R             167
H             250
2B             64
3B             32
HR             67
RBI           175
SB            113
CS             36
BB            156
SO            206
IBB            45
HBP            41
SH             54
SF             20
GIDP           35
dtype: int64

In [12]:
#シーズン60本以上の記録
print(df.query("HR >= 60"))

        playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...   \
22269   ruthba01    1927      1    NYA   AL  151  540  158  192  29  ...
41674  marisro01    1961      1    NYA   AL  161  590  132  159  16  ...
77403  mcgwima01    1998      1    SLN   NL  155  509  130  152  21  ...
77750   sosasa01    1998      1    CHN   NL  159  643  134  198  20  ...
78719  mcgwima01    1999      1    SLN   NL  153  521  118  145  21  ...
79067   sosasa01    1999      1    CHN   NL  162  625  114  180  24  ...
80766  bondsba01    2001      1    SFN   NL  153  476  129  156  32  ...
81784   sosasa01    2001      1    CHN   NL  160  577  146  189  34  ...

         RBI    SB   CS   BB     SO   IBB  HBP    SH    SF  GIDP
22269  164.0   7.0  6.0  137   89.0   NaN  0.0  14.0   NaN   NaN
41674  142.0   0.0  0.0   94   67.0   0.0  7.0   0.0   7.0  16.0
77403  147.0   1.0  0.0  162  155.0  28.0  6.0   0.0   4.0   8.0
77750  158.0  18.0  9.0   73  171.0  14.0  1.0   0.0   5.0  20.0
78719  147.0   0.0  0.0  133  141.0  21.0  2.0   0.0   5.0  12.0
79067  141.0   7.0  8.0   78  171.0   8.0  3.0   0.0   6.0  17.0
80766  137.0  13.0  3.0  177   93.0  35.0  9.0   0.0   2.0   5.0
81784  160.0   0.0  2.0  116  153.0  37.0  6.0   0.0  12.0   6.0

[8 rows x 22 columns]

In [10]:
#シーズン200安打以上
print(df.query("H >= 200"))

         playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...   \
3478    brownpe01    1887      1    LS2   AA  134  547  137  220  35  ...
3625    lyonsde01    1887      1    PH4   AA  137  570  128  209  43  ...
3681    oneilti01    1887      1    SL4   AA  124  517  167  225  52  ...
3757    thompsa01    1887      1    DTN   NL  127  545  118  203  29  ...
4270    glassja01    1889      1    IN3   NL  134  582  128  205  40  ...
5847    delahed01    1893      1    PHI   NL  132  595  145  219  35  ...
5856    duffyhu01    1893      1    BSN   NL  131  560  147  203  23  ...
6038    thompsa01    1893      1    PHI   NL  131  600  130  222  37  ...
6086    brodist01    1894      1    BLN   NL  129  573  134  210  25  ...
6124    crossla01    1894      1    PHI   NL  122  542  128  210  34  ...
6134    delahed01    1894      1    PHI   NL  116  494  148  200  39  ...
6142    duffyhu01    1894      1    BSN   NL  125  539  160  237  51  ...
6184    hamilbi01    1894      1    PHI   NL  132  558  198  225  25  ...
6210    keelewi01    1894      1    BLN   NL  129  590  165  219  27  ...
6228     lowebo01    1894      1    BSN   NL  133  613  158  212  34  ...
6399    burkeje01    1895      1    CL4   NL  132  555  153  225  22  ...
6486    hamilbi01    1895      1    PHI   NL  123  517  166  201  22  ...
6506    jennihu01    1895      1    BLN   NL  131  529  159  204  41  ...
6510    keelewi01    1895      1    BLN   NL  131  565  162  213  24  ...
6639    thompsa01    1895      1    PHI   NL  119  538  131  211  45  ...
6695    burkeje01    1896      1    CL4   NL  133  586  160  240  27  ...
6814    jennihu01    1896      1    BLN   NL  130  521  125  209  27  ...
6820    keelewi01    1896      1    BLN   NL  126  544  153  210  22  ...
7002    clarkfr01    1897      1    LS3   NL  130  526  122  205  30  ...
7028    delahed01    1897      1    PHI   NL  129  530  109  200  40  ...
7109    keelewi01    1897      1    BLN   NL  129  564  145  239  27  ...
7268    burkeje01    1898      1    CL4   NL  150  624  114  213  18  ...
7402    keelewi01    1898      1    BLN   NL  129  561  126  216   7  ...
7541    vanhage01    1898      1    NY1   NL  156  654  129  204  28  ...
7589    burkeje01    1899      1    SLN   NL  141  558  116  221  21  ...
...           ...     ...    ...    ...  ...  ...  ...  ...  ...  ..  ...
89914   suzukic01    2007      1    SEA   AL  161  678  111  238  22  ...
90080   youngmi02    2007      1    TEX   AL  156  639   80  201  37  ...
91051   pedrodu01    2008      1    BOS   AL  157  653  118  213  54  ...
91141   reyesjo01    2008      1    NYN   NL  159  688  113  204  37  ...
91307   suzukic01    2008      1    SEA   AL  162  686  103  213  20  ...
91624   braunry02    2009      1    MIL   NL  158  635  113  203  39  ...
91686    canoro01    2009      1    NYA   AL  161  637  103  204  48  ...
92103   jeterde01    2009      1    NYA   AL  153  634  107  212  27  ...
92691   suzukic01    2009      1    SEA   AL  146  639   88  225  31  ...
93049    canoro01    2010      1    NYA   AL  160  626  103  200  41  ...
94053   suzukic01    2010      1    SEA   AL  162  680   74  214  30  ...
94395   cabreme01    2011      1    KCA   AL  155  658  102  201  44  ...
94438   castrst01    2011      1    CHN   NL  158  674   91  207  36  ...
94582   ellsbja01    2011      1    BOS   AL  158  660  119  212  46  ...
94684   gonzaad01    2011      1    BOS   AL  159  630  108  213  45  ...
95600   youngmi02    2011      1    TEX   AL  159  631   88  213  41  ...
95782   cabremi01    2012      1    DET   AL  161  622  109  205  40  ...
96247   jeterde01    2012      1    NYA   AL  159  683   99  216  32  ...
98453   altuvjo01    2014      1    HOU   AL  158  660   85  225  47  ...
98561   brantmi02    2014      1    CLE   AL  156  611   94  200  45  ...
99887   altuvjo01    2015      1    HOU   AL  154  638   86  200  40  ...
100378  gordode01    2015      1    MIA   NL  145  615   88  205  24  ...
101373  altuvjo01    2016      1    HOU   AL  161  640  108  216  42  ...
101455  bettsmo01    2016      1    BOS   AL  158  672  122  214  42  ...
102356  pedrodu01    2016      1    BOS   AL  154  633  105  201  36  ...
102590  segurje01    2016      1    ARI   NL  153  637  102  203  41  ...
102863  altuvjo01    2017      1    HOU   AL  153  590  112  204  39  ...
102955  blackch02    2017      1    COL   NL  159  644  137  213  35  ...
103359  gordode01    2017      1    MIA   NL  158  653  114  201  20  ...
103491  inciaen01    2017      1    ATL   NL  157  662   93  201  27  ...

          RBI     SB    CS   BB     SO   IBB   HBP    SH   SF  GIDP
3478    118.0  103.0   NaN   55   39.0   NaN   8.0   NaN  NaN   NaN
3625    102.0   73.0   NaN   47   16.0   NaN   6.0   NaN  NaN   NaN
3681    123.0   30.0   NaN   50   20.0   NaN   5.0   NaN  NaN   NaN
3757    166.0   22.0   NaN   32   19.0   NaN   9.0   NaN  NaN   NaN
4270     85.0   57.0   NaN   31   10.0   NaN   5.0   NaN  NaN   NaN
5847    146.0   37.0   NaN   47   20.0   NaN  10.0   NaN  NaN   NaN
5856    118.0   44.0   NaN   50   13.0   NaN   1.0   NaN  NaN   NaN
6038    126.0   18.0   NaN   50   17.0   NaN   6.0   NaN  NaN   NaN
6086    113.0   42.0   NaN   18    8.0   NaN  13.0  24.0  NaN   NaN
6124    132.0   23.0   NaN   31    7.0   NaN   3.0  17.0  NaN   NaN
6134    133.0   22.0   NaN   61   16.0   NaN   7.0   5.0  NaN   NaN
6142    145.0   48.0   NaN   66   15.0   NaN   1.0  10.0  NaN   NaN
6184     90.0  100.0   NaN  128   19.0   NaN   9.0   7.0  NaN   NaN
6210     94.0   32.0   NaN   40    6.0   NaN  18.0  16.0  NaN   NaN
6228    115.0   23.0   NaN   50   25.0   NaN   6.0   9.0  NaN   NaN
6399     83.0   41.0   NaN   74   32.0   NaN   8.0   7.0  NaN   NaN
6486     74.0   97.0   NaN   96   30.0   NaN   7.0   9.0  NaN   NaN
6506    125.0   53.0   NaN   24   17.0   NaN  32.0  28.0  NaN   NaN
6510     78.0   47.0   NaN   37   12.0   NaN  14.0  21.0  NaN   NaN
6639    165.0   27.0   NaN   31   11.0   NaN   5.0   2.0  NaN   NaN
6695     72.0   34.0   NaN   49   19.0   NaN   7.0   5.0  NaN   NaN
6814    121.0   70.0   NaN   19   11.0   NaN  51.0  11.0  NaN   NaN
6820     82.0   67.0   NaN   37    9.0   NaN   7.0  13.0  NaN   NaN
7002     67.0   59.0   NaN   45   26.0   NaN  25.0   3.0  NaN   NaN
7028     96.0   26.0   NaN   60   23.0   NaN   3.0   5.0  NaN   NaN
7109     74.0   64.0   NaN   35    5.0   NaN   7.0  12.0  NaN   NaN
7268     42.0   19.0   NaN   69   30.0   NaN   9.0   4.0  NaN   NaN
7402     44.0   28.0   NaN   31    4.0   NaN   3.0   9.0  NaN   NaN
7541     68.0   36.0   NaN   59   40.0   NaN   4.0   5.0  NaN   NaN
7589     71.0   25.0   NaN   67   23.0   NaN   2.0   8.0  NaN   NaN
...       ...    ...   ...  ...    ...   ...   ...   ...  ...   ...
89914    68.0   37.0   8.0   49   77.0  13.0   3.0   4.0  2.0   7.0
90080    94.0   13.0   3.0   47  107.0   5.0   5.0   0.0  1.0  21.0
91051    83.0   20.0   1.0   50   52.0   1.0   7.0   7.0  9.0  17.0
91141    68.0   56.0  15.0   66   82.0   8.0   1.0   5.0  3.0   9.0
91307    42.0   43.0   4.0   51   65.0  12.0   5.0   3.0  4.0   8.0
91624   114.0   20.0   6.0   57  121.0   1.0  13.0   0.0  3.0   6.0
91686    85.0    5.0   7.0   30   63.0   2.0   3.0   0.0  4.0  22.0
92103    66.0   30.0   5.0   72   90.0   4.0   5.0   4.0  1.0  18.0
92691    46.0   26.0   9.0   32   71.0  15.0   4.0   2.0  1.0   1.0
93049   109.0    3.0   2.0   57   77.0  14.0   8.0   0.0  5.0  19.0
94053    43.0   42.0   9.0   45   86.0  13.0   3.0   3.0  1.0   3.0
94395    87.0   20.0  10.0   35   94.0   3.0   1.0   7.0  5.0  12.0
94438    66.0   22.0   9.0   35   96.0   2.0   2.0   0.0  4.0  20.0
94582   105.0   39.0  15.0   52   98.0   1.0   9.0   3.0  5.0   8.0
94684   117.0    1.0   0.0   74  119.0  20.0   6.0   0.0  5.0  28.0
95600   106.0    6.0   2.0   47   78.0   7.0   2.0   0.0  9.0  17.0
95782   139.0    4.0   1.0   66   98.0  17.0   3.0   0.0  6.0  28.0
96247    58.0    9.0   4.0   45   90.0   1.0   5.0   6.0  1.0  24.0
98453    59.0   56.0   9.0   36   53.0   7.0   5.0   1.0  5.0  20.0
98561    97.0   23.0   1.0   52   56.0   4.0   8.0   0.0  5.0  16.0
99887    66.0   38.0  13.0   33   67.0   8.0   9.0   3.0  6.0  17.0
100378   46.0   58.0  20.0   25   91.0   2.0   2.0   6.0  5.0   6.0
101373   96.0   30.0  10.0   60   70.0  11.0   7.0   3.0  7.0  15.0
101455  113.0   26.0   4.0   49   80.0   1.0   2.0   0.0  7.0  12.0
102356   74.0    7.0   4.0   61   73.0   0.0   0.0   1.0  3.0  24.0
102590   64.0   33.0  10.0   39  101.0   1.0  12.0   4.0  2.0   6.0
102863   81.0   32.0   6.0   58   84.0   3.0   9.0   1.0  4.0  19.0
102955  104.0   14.0  10.0   65  135.0   9.0  10.0   3.0  3.0   4.0
103359   33.0   60.0  16.0   25   93.0   0.0  10.0   2.0  4.0   7.0
103491   57.0   22.0   9.0   49   94.0   3.0   0.0   3.0  4.0   8.0

[528 rows x 22 columns]

In [11]:
#シーズン240安打以上
print(df.query("H >= 240"))

        playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...   \
6695   burkeje01    1896      1    CL4   NL  133  586  160  240  27  ...
12721   cobbty01    1911      1    DET   AL  146  591  147  248  47  ...
18570  sislege01    1920      1    SLA   AL  154  631  137  257  49  ...
19394  hornsro01    1922      1    SLN   NL  154  623  141  250  46  ...
19618  sislege01    1922      1    SLA   AL  142  586  134  246  42  ...
21228  simmoal01    1925      1    PHA   AL  153  654  122  253  43  ...
22696  manushe01    1928      1    SLA   AL  154  638  104  241  47  ...
23288  odoulle01    1929      1    PHI   NL  154  638  152  254  35  ...
23685  hermaba01    1930      1    BRO   NL  153  614  143  241  48  ...
23732  kleinch01    1930      1    PHI   NL  156  648  158  250  59  ...
23939  terrybi01    1930      1    NY1   NL  154  633  139  254  39  ...
62330  boggswa01    1985      1    BOS   AL  161  653  107  240  42  ...
79618  erstada01    2000      1    ANA   AL  157  676  121  240  39  ...
81815  suzukic01    2001      1    SEA   AL  157  692  127  242  34  ...
85828  suzukic01    2004      1    SEA   AL  161  704  101  262  24  ...

         RBI    SB    CS  BB    SO   IBB  HBP    SH   SF  GIDP
6695    72.0  34.0   NaN  49  19.0   NaN  7.0   5.0  NaN   NaN
12721  127.0  83.0   NaN  44   NaN   NaN  8.0  11.0  NaN   NaN
18570  122.0  42.0  17.0  46  19.0   NaN  2.0  13.0  NaN   NaN
19394  152.0  17.0  12.0  65  50.0   NaN  1.0  15.0  NaN   NaN
19618  105.0  51.0  19.0  49  14.0   NaN  3.0  16.0  NaN   NaN
21228  129.0   7.0  14.0  35  41.0   NaN  1.0   6.0  NaN   NaN
22696  108.0  17.0   5.0  39  14.0   NaN  0.0  20.0  NaN   NaN
23288  122.0   2.0   NaN  76  19.0   NaN  4.0  13.0  NaN   NaN
23685  130.0  18.0   NaN  66  56.0   NaN  4.0  15.0  NaN   NaN
23732  170.0   4.0   NaN  54  50.0   NaN  4.0  13.0  NaN   NaN
23939  129.0   8.0   NaN  57  33.0   NaN  1.0  19.0  NaN   NaN
62330   78.0   2.0   1.0  96  61.0   5.0  4.0   3.0  2.0  20.0
79618  100.0  28.0   8.0  64  82.0   9.0  1.0   2.0  4.0   8.0
81815   69.0  56.0  14.0  30  53.0  10.0  8.0   4.0  4.0   3.0
85828   60.0  36.0  11.0  49  63.0  19.0  4.0   2.0  3.0   6.0

[15 rows x 22 columns]

In [13]:
df = pd.read_csv("People.csv")
print(df)

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aaronha01     1934.0         2.0       5.0          USA         AL
2      aaronto01     1939.0         8.0       5.0          USA         AL
3       aasedo01     1954.0         9.0       8.0          USA         CA
4       abadan01     1972.0         8.0      25.0          USA         FL
5       abadfe01     1985.0        12.0      17.0         D.R.  La Romana
6      abadijo01     1850.0        11.0       4.0          USA         PA
7      abbated01     1877.0         4.0      15.0          USA         PA
8      abbeybe01     1869.0        11.0      11.0          USA         VT
9      abbeych01     1866.0        10.0      14.0          USA         NE
10     abbotda01     1862.0         3.0      16.0          USA         OH
11     abbotfr01     1874.0        10.0      22.0          USA         OH
12     abbotgl01     1951.0         2.0      16.0          USA         AR
13     abbotje01     1972.0         8.0      17.0          USA         GA
14     abbotji01     1967.0         9.0      19.0          USA         MI
15     abbotku01     1969.0         6.0       2.0          USA         OH
16     abbotky01     1968.0         2.0      18.0          USA         MA
17     abbotod01     1886.0         9.0       5.0          USA         PA
18     abbotpa01     1967.0         9.0      15.0          USA         CA
19      aberal01     1927.0         7.0      31.0          USA         OH
20     abercda01     1850.0         1.0       2.0          USA         OK
21     abercre01     1980.0         7.0      15.0          USA         GA
22     abernbi01     1929.0         1.0      30.0          USA         CA
23     abernbr01     1977.0         9.0      23.0          USA         GA
24     abernte01     1921.0        10.0      30.0          USA         NC
25     abernte02     1933.0         3.0       6.0          USA         NC
26     abernwo01     1915.0         2.0       1.0          USA         NC
27     aberscl01     1921.0         8.0      28.0          USA         IL
28     ablesha01     1883.0        10.0       4.0          USA         TX
29     abnersh01     1966.0         6.0      17.0          USA         OH
...          ...        ...         ...       ...          ...        ...
19340  zimmejo02     1986.0         5.0      23.0          USA         WI
19341  zimmero01     1913.0         9.0      13.0          USA         PA
19342  zimmery01     1984.0         9.0      28.0          USA         NC
19343   zinkch01     1979.0         8.0      26.0          USA         CA
19344   zinkwa01     1898.0        11.0      21.0          USA         MA
19345   zinnfr01     1865.0        12.0      21.0          USA         PA
19346   zinngu01     1887.0         2.0      13.0          USA         WV
19347   zinnji01     1895.0         1.0      31.0          USA         AR
19348  zinsebi01     1918.0         1.0       6.0          USA         NY
19349  zinteal01     1968.0         5.0      19.0          USA         TX
19350  zipfebu01     1938.0        11.0      18.0          USA         IL
19351   ziskri01     1949.0         2.0       6.0          USA         NY
19352   zitoba01     1978.0         5.0      13.0          USA         NV
19353  zitzmbi01     1895.0        11.0      19.0          USA         NY
19354  zmiched01     1884.0        10.0       1.0          USA         OH
19355  zobribe01     1981.0         5.0      26.0          USA         IL
19356  zoccope01     1977.0         2.0       6.0          USA         NY
19357  zoldasa01     1918.0        12.0       8.0          USA         NY
19358  zoskyed01     1968.0         2.0      10.0          USA         CA
19359  zuberbi01     1913.0         3.0      26.0          USA         IA
19360  zuberjo01     1969.0        12.0      10.0          USA         CA
19361  zuletju01     1975.0         3.0      28.0       Panama     Panama
19362  zumayjo01     1984.0        11.0       9.0          USA         CA
19363  zuninmi01     1991.0         3.0      25.0          USA         FL
19364  zupcibo01     1966.0         8.0      18.0          USA         PA
19365   zupofr01     1939.0         8.0      29.0          USA         CA
19366  zuvelpa01     1958.0        10.0      31.0          USA         CA
19367  zuverge01     1924.0         8.0      20.0          USA         MI
19368  zwilldu01     1888.0        11.0       2.0          USA         MO
19369   zychto01     1990.0         8.0       7.0          USA         IL

              birthCity  deathYear  deathMonth  deathDay    ...      \
0                Denver        NaN         NaN       NaN    ...
1                Mobile        NaN         NaN       NaN    ...
2                Mobile     1984.0         8.0      16.0    ...
3                Orange        NaN         NaN       NaN    ...
4            Palm Beach        NaN         NaN       NaN    ...
5             La Romana        NaN         NaN       NaN    ...
6          Philadelphia     1905.0         5.0      17.0    ...
7               Latrobe     1957.0         1.0       6.0    ...
8                 Essex     1962.0         6.0      11.0    ...
9            Falls City     1926.0         4.0      27.0    ...
10              Portage     1930.0         2.0      13.0    ...
11           Versailles     1935.0         6.0      11.0    ...
12          Little Rock        NaN         NaN       NaN    ...
13              Atlanta        NaN         NaN       NaN    ...
14                Flint        NaN         NaN       NaN    ...
15           Zanesville        NaN         NaN       NaN    ...
16          Newburyport        NaN         NaN       NaN    ...
17            New Eagle     1933.0         4.0      13.0    ...
18             Van Nuys        NaN         NaN       NaN    ...
19            Cleveland     1993.0         5.0      20.0    ...
20          Fort Towson     1939.0        11.0      11.0    ...
21             Columbus        NaN         NaN       NaN    ...
22             Torrance     2006.0         2.0      19.0    ...
23              Atlanta        NaN         NaN       NaN    ...
24                Bynum     2001.0        11.0      16.0    ...
25              Stanley     2004.0        12.0      16.0    ...
26          Forest City     1994.0        12.0       5.0    ...
27              Chicago     1973.0         6.0      23.0    ...
28              Terrell     1951.0         2.0       8.0    ...
29             Hamilton        NaN         NaN       NaN    ...
...                 ...        ...         ...       ...    ...
19340        Auburndale        NaN         NaN       NaN    ...
19341        Pine Grove     1991.0        11.0      22.0    ...
19342        Washington        NaN         NaN       NaN    ...
19343        Carmichael        NaN         NaN       NaN    ...
19344        Pittsfield     1964.0         6.0      12.0    ...
19345      Phoenixville     1936.0         5.0      12.0    ...
19346          Holbrook     1949.0        10.0       6.0    ...
19347            Benton     1991.0         2.0      26.0    ...
19348           Astoria     1993.0         2.0      16.0    ...
19349           El Paso        NaN         NaN       NaN    ...
19350        Belleville        NaN         NaN       NaN    ...
19351          Brooklyn        NaN         NaN       NaN    ...
19352         Las Vegas        NaN         NaN       NaN    ...
19353  Long Island City     1985.0         5.0      29.0    ...
19354         Cleveland     1950.0         8.0      20.0    ...
19355            Eureka        NaN         NaN       NaN    ...
19356             Bronx        NaN         NaN       NaN    ...
19357          Brooklyn     1966.0         8.0      25.0    ...
19358          Whittier        NaN         NaN       NaN    ...
19359      Middle Amana     1982.0        11.0       2.0    ...
19360            Encino        NaN         NaN       NaN    ...
19361            Panama        NaN         NaN       NaN    ...
19362       Chula Vista        NaN         NaN       NaN    ...
19363        Cape Coral        NaN         NaN       NaN    ...
19364        Pittsburgh        NaN         NaN       NaN    ...
19365     San Francisco     2005.0         3.0      25.0    ...
19366         San Mateo        NaN         NaN       NaN    ...
19367           Holland     2014.0         9.0       8.0    ...
19368         St. Louis     1978.0         3.0      27.0    ...
19369             Monee        NaN         NaN       NaN    ...

          nameLast           nameGiven weight height bats throws       debut  \
0          Aardsma         David Allan  215.0   75.0    R      R  2004-04-06
1            Aaron         Henry Louis  180.0   72.0    R      R  1954-04-13
2            Aaron          Tommie Lee  190.0   75.0    R      R  1962-04-10
3             Aase      Donald William  190.0   75.0    R      R  1977-07-26
4             Abad       Fausto Andres  184.0   73.0    L      L  2001-09-10
5             Abad    Fernando Antonio  220.0   73.0    L      L  2010-07-28
6           Abadie             John W.  192.0   72.0    R      R  1875-04-26
7      Abbaticchio        Edward James  170.0   71.0    R      R  1897-09-04
8            Abbey           Bert Wood  175.0   71.0    R      R  1892-06-14
9            Abbey          Charles S.  169.0   68.0    L      L  1893-08-16
10          Abbott    Leander Franklin  190.0   71.0    R      R  1890-04-19
11          Abbott     Harry Frederick  180.0   70.0    R      R  1903-04-25
12          Abbott       William Glenn  200.0   78.0    R      R  1973-07-29
13          Abbott     Jeffrey William  190.0   74.0    R      L  1997-06-10
14          Abbott       James Anthony  200.0   75.0    L      L  1989-04-08
15          Abbott         Kurt Thomas  180.0   71.0    R      R  1993-09-07
16          Abbott       Lawrence Kyle  200.0   76.0    L      L  1991-09-10
17          Abbott           Ody Cleon  165.0   69.0    L      R  1910-09-10
18          Abbott          Paul David  185.0   75.0    R      R  1990-08-21
19            Aber       Albert Julius  195.0   74.0    L      L  1950-09-15
20     Abercrombie   Francis Patterson    NaN    NaN  NaN    NaN  1871-10-21
21     Abercrombie   Reginald Damascus  215.0   75.0    R      R  2006-04-04
22      Abernathie      William Edward  190.0   70.0    R      R  1952-09-27
23       Abernathy       Michael Brent  185.0   73.0    R      R  2001-06-25
24       Abernathy  Talmadge Lafayette  210.0   74.0    R      L  1942-09-19
25       Abernathy       Theodore Wade  215.0   76.0    R      R  1955-04-13
26       Abernathy      Virgil Woodrow  170.0   72.0    L      L  1946-07-28
27         Aberson  Clifford Alexander  200.0   72.0    R      R  1947-07-18
28           Ables       Harry Terrell  200.0   74.0    R      L  1905-09-04
29           Abner        Shawn Wesley  190.0   73.0    R      R  1987-09-08
...            ...                 ...    ...    ...  ...    ...         ...
19340   Zimmermann           Jordan M.  225.0   74.0    R      R  2009-04-20
19341    Zimmerman        Roy Franklin  187.0   74.0    L      L  1945-08-27
19342    Zimmerman        Ryan Wallace  225.0   75.0    R      R  2005-09-01
19343         Zink       Charles Tadao  190.0   73.0    R      R  2008-08-12
19344         Zink        Walter Noble  165.0   72.0    R      R  1921-07-06
19345         Zinn       Frank Patrick  150.0   68.0  NaN    NaN  1888-04-18
19346         Zinn                 Guy  170.0   70.0    L      R  1911-09-11
19347         Zinn        James Edward  195.0   72.0    L      R  1919-09-04
19348       Zinser     William Francis  185.0   73.0    R      R  1944-08-19
19349       Zinter        Alan Michael  200.0   74.0    B      R  2002-06-18
19350       Zipfel    Marion Sylvester  200.0   75.0    L      R  1961-07-26
19351         Zisk      Richard Walter  200.0   73.0    R      R  1971-09-08
19352         Zito       Barry William  205.0   74.0    L      L  2000-07-22
19353     Zitzmann      William Arthur  175.0   70.0    R      R  1919-04-27
19354        Zmich       Edward Albert  180.0   72.0    L      L  1910-07-23
19355      Zobrist     Benjamin Thomas  210.0   75.0    B      R  2006-08-01
19356   Zoccolillo          Peter Jude  200.0   74.0    L      R  2003-09-05
19357       Zoldak       Samuel Walter  185.0   71.0    L      L  1944-05-13
19358        Zosky        Edward James  175.0   72.0    R      R  1991-09-02
19359        Zuber       William Henry  195.0   74.0    R      R  1936-09-16
19360        Zuber          Jon Edward  190.0   73.0    L      L  1996-04-19
19361       Zuleta       Julio Ernesto  230.0   78.0    R      R  2000-04-06
19362       Zumaya         Joel Martin  215.0   75.0    R      R  2006-04-03
19363       Zunino     Michael Accorsi  220.0   74.0    R      R  2013-06-12
19364       Zupcic              Robert  220.0   76.0    R      R  1991-09-07
19365         Zupo        Frank Joseph  182.0   71.0    L      R  1957-07-01
19366      Zuvella                Paul  173.0   72.0    R      R  1982-09-04
19367     Zuverink              George  195.0   76.0    R      R  1951-04-21
19368     Zwilling     Edward Harrison  160.0   66.0    L      L  1910-08-14
19369         Zych       Anthony Aaron  190.0   75.0    R      R  2015-09-04

        finalGame   retroID    bbrefID
0      2015-08-23  aardd001  aardsda01
1      1976-10-03  aaroh101  aaronha01
2      1971-09-26  aarot101  aaronto01
3      1990-10-03  aased001   aasedo01
4      2006-04-13  abada001   abadan01
5      2017-10-01  abadf001   abadfe01
6      1875-06-10  abadj101  abadijo01
7      1910-09-15  abbae101  abbated01
8      1896-09-23  abbeb101  abbeybe01
9      1897-08-19  abbec101  abbeych01
10     1890-05-23  abbod101  abbotda01
11     1905-09-20  abbof101  abbotfr01
12     1984-08-08  abbog001  abbotgl01
13     2001-09-29  abboj002  abbotje01
14     1999-07-21  abboj001  abbotji01
15     2001-04-13  abbok002  abbotku01
16     1996-08-24  abbok001  abbotky01
17     1910-10-15  abboo101  abbotod01
18     2004-08-07  abbop001  abbotpa01
19     1957-09-11  abera101   aberal01
20     1871-10-21  aberd101  abercda01
21     2008-09-28  aberr001  abercre01
22     1952-09-27  aberb101  abernbi01
23     2005-09-29  aberb001  abernbr01
24     1944-04-29  abert102  abernte01
25     1972-09-30  abert101  abernte02
26     1947-04-17  aberw101  abernwo01
27     1949-05-09  aberc101  aberscl01
28     1911-05-05  ableh101  ablesha01
29     1992-10-03  abnes001  abnersh01
...           ...       ...        ...
19340  2017-09-27  zimmj003  zimmejo02
19341  1945-09-30  zimmr101  zimmero01
19342  2017-10-01  zimmr001  zimmery01
19343  2008-08-12  zinkc001   zinkch01
19344  1921-07-19  zinkw101   zinkwa01
19345  1888-05-03  zinnf101   zinnfr01
19346  1915-09-16  zinng101   zinngu01
19347  1929-08-25  zinnj101   zinnji01
19348  1944-08-26  zinsb101  zinsebi01
19349  2004-10-03  zinta001  zinteal01
19350  1962-09-30  zipfb101  zipfebu01
19351  1983-09-21  ziskr101   ziskri01
19352  2015-09-30  zitob001   zitoba01
19353  1929-09-25  zitzb101  zitzmbi01
19354  1911-06-01  zmice101  zmiched01
19355  2017-10-01  zobrb001  zobribe01
19356  2003-09-28  zoccp001  zoccope01
19357  1952-08-26  zolds101  zoldasa01
19358  2000-10-01  zoske001  zoskyed01
19359  1947-09-23  zubeb101  zuberbi01
19360  1998-09-27  zubej001  zuberjo01
19361  2001-06-25  zulej001  zuletju01
19362  2010-06-28  zumaj001  zumayjo01
19363  2017-09-29  zunim001  zuninmi01
19364  1994-08-04  zupcb001  zupcibo01
19365  1961-05-09  zupof101   zupofr01
19366  1991-05-02  zuvep001  zuvelpa01
19367  1959-06-15  zuveg101  zuverge01
19368  1916-07-12  zwild101  zwilldu01
19369  2017-08-19  zycht001   zychto01

[19370 rows x 24 columns]

In [59]:
def info(name, what):
    #必要ライブラリの読み込み
    import pandas as pd
    import sklearn

    #データの読み込み
    df = pd.read_csv("Batting.csv")
    df2 = pd.read_csv("People.csv")
    
    #入力で得た名前の選手のIDを取得
    ID = df2[df2["nameGiven"] == name].playerID
    return(ID)
    #print(df.query("playerID == 60"))

In [60]:
print(info("Ichiro", "HR"))

17060    suzukic01
Name: playerID, dtype: object

In [6]:
a = int(input("数字入れて"))
if (a >= 10):
    print(a + 10)
else:
    print(a)

数字入れて8
8